src/main/mule/ci-cd-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f52327e8-e45a-4f66-bdd8-02b0420c5f49" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="25bf9946-1171-4c52-87a8-10032518eb45" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="ci-cd-exampleFlow" doc:id="60bef0c4-7e9d-4ce1-8cc5-2a90b455dfbb" >
		<http:listener doc:name="Listener" doc:id="3aa1818e-1dc4-4d76-ad21-a0193433adc0" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="4fa524a0-3130-4b41-b5a0-8999687d527f" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.UriParams.city,
	region : attributes.UriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
